version: "3"

services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "password123"
  web:
    build: .
    command: python3 todo_project/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
